*{
    box-sizing: border-box;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}
.container{
    width: 400px;
    height: 440px;

    border: 3px solid black;
    border-radius: 20px;
    background-color: #444746;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 15px;
}
.boxInput{
    background-color: #41433F;
}
.inputStyle{
    width: 360px;
    height: 50px;
    padding-right: 10px;
    border-radius: 10px;
    border: 3px solid green;
    background-color: #9CCC65;
    color: #316A1C;
    
    text-align: right;
    font-size: 1.2em;

    cursor: default;
}
.boxButtons{
    width: 380px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;

    justify-content: center;
    align-items: center;
}
.buttonStyle{
    height: 50px;

    border: none;
    border-radius: 20px;
    background-color: #E0E0E0;
    
    font-size: 1.2em;

    cursor: pointer;
}
.acButtonStyle{
    height: 50px;

    border: none;
    border-radius: 20px;
    
    background-color: #FF5152;
    
    font-size: 1.2em;

    cursor: pointer;
}
.arithButtonStyle{
    height: 50px;

    border: none;
    border-radius: 20px;

    background-color: #BDBDBD;
    
    font-size: 1.2em;

    cursor: pointer;
}